.div-pai-de-todos-sobre-mim {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 50vh;
    margin-bottom: 50vh;
}

.about-container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    gap: 5vh;
}

.about-text h1 {
    font-size: 3rem;
    margin-bottom: 3vh;
    font-weight: 400;
}


.p-descricao {
    max-width: 70vh;
    line-height: 1.8;
    opacity: 0.9;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.2rem;

}

.about-visual {
    border: 1px solid;
    height: 90%;
    border-radius: 1vh;
}


.subtitle {
    color: #9bbedd;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 3vh;
}

.list-li-highlight {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1vh;
    color: #ffffff;
    opacity: 0.9;
}

.fa-check {
    color: #6ce77d;
    font-size: 1.5rem;
}

.list-highlights {
    padding: 1vh;
}

.div-list {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.p-closing {
    color: #b9ccf5;
    font-weight: 300;
    font-size: 1.3rem;
}

.about-visual {
    position: relative;
    min-height: 420px;
    opacity: 0.90;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 65px 64px;
}

.about-visual::after {
    content: "";
    position: absolute;
    width: 520px;
    height: 520px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 50%;
    right: -260px;
    bottom: -260px;
    opacity: 0.4;
}

.code-div {
    height: 85%;
}

.icon-div {
    display: flex;
    align-items: center;
    gap: 3vh;
    margin-left: 2vw;
    font-size: 3rem;
    height: 15%;
}

.linha-icon {
    box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.25);
    color: #b9ccf5;
}

.fa-php,
.fa-database,
.fa-git-alt {
    color: #4595db8f;
}