
.div-pai-de-todos-sobre-mim {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.about-container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    gap: 5vh;
}

.h1-sobre {
    font-size: 3rem;
    margin-bottom: 3vh;
    font-weight: 400;
}

.subtitle {
    color: #9bbedd;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 3vh;
}

.p-descricao {
    max-width: 70vh;
    line-height: 1.8;
    color: #ffffff;
    opacity: 0.9;
    font-weight: 300;
    font-size: 1.2rem;
}

.div-list {
    margin: 3vh 0;
}

.list-highlights {
    padding: 1vh;
}

.list-li-highlight {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1vh;
    color: #ffffff;
    opacity: 0.9;
}

.fa-check {
    color: #6ce77d;
    font-size: 1.5rem;
}

.p-closing {
    color: #b9ccf5;
    font-weight: 300;
    font-size: 1.3rem;
}


.div-about-pai {
    position: relative;
    width: 26vw;
    height: 50vh;
}

.code-div {
    position: relative;
    width: 100%;
    height: 100%;
}

.code-glow-top {
    position: absolute;
    inset: -30px;
    border-radius: 20px;
    background: radial-gradient(circle at top left,
            rgba(0, 153, 255, 0.65),
            transparent 65%);
    filter: blur(50px);
    z-index: 0;
}

.code-glow-bottom {
    position: absolute;
    inset: -30px;
    border-radius: 20px;
    background: radial-gradient(circle at 150% 150%,
            rgba(0, 153, 255, 0.70),
            transparent 65%);
    filter: blur(50px);
    z-index: 0;
}

.about-visual {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: rgba(12, 16, 26, 0.75);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(120, 180, 255, 0.35);
    box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.05),
        0 0 40px rgba(0, 153, 255, 0.25);
        display: flex;
        justify-content: end;
        flex-direction: column;
}

.about-visual::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.035) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.035) 1px, transparent 1px);
    background-size: 6vh 6vh;
    opacity: 0.5;
    pointer-events: none;
}

.rectangle-bg {
    content: "";
    position: absolute;
    width: 460px;
    height: 460px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.035) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.035) 1px, transparent 1px);
    background-size: 6vh 6vh;

    right: 100px;
    bottom: 90px;
    z-index: 0;
    opacity: 0.9;
    pointer-events: none;
}

.about-visual::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1vh;
  pointer-events: none;

  background:
  radial-gradient(
    40vh 40vh at top left,
    rgba(168, 219, 238, 0.7) 0%,
    rgba(120, 200, 255, 0.7) 25%,
    transparent 70%
  ),
  radial-gradient(
    40vh 40vh at bottom right,
    rgb(168, 219, 238, 0.7) 0%,
    rgba(91, 165, 214, 0.7) 25%,
    transparent 70%
  );

  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;

  padding: 2px;
}

.circle-bg {
    content: "";
    position: absolute;
    width: 460px;
    height: 460px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.035) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.035) 1px, transparent 1px);
    background-size: 6vh 6vh;

    border-radius: 50%;
    right: -230px;
    bottom: -230px;
    z-index: 0;
    opacity: 0.9;
    pointer-events: none;
}

.linha-icon {
    border: 1px solid rgba(255, 255, 255, 0.034);
    width: 100%;
}

.icon-div {
    display: flex;
    gap: 24px;
    font-size: 2.6rem;
    z-index: 10;
    overflow: visible;
    padding: 2vh 1vh 2vh 4vh;
}

.fa-php,
.fa-database,
.fa-git-alt {
    color: #4595db8f;
}

.code-card {
  font-size: 1rem;
  padding: 24px;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  margin-top: 3vh;
  opacity: 65%;
}

.kw {
    color: #6c9790;
}

.repository {
    color: #909fce;
}

.this {
    color: #a7b1ce;
}