.nav-bar-pai {
    display: flex;
    justify-content: space-around;
    margin-left: 12vw;
    margin-top: 5vh;
    font-size: 1.5rem;
}

.div-invisivel {
    width: 50%;
}

.Contato,
.Skills,
.Projeto,
.Sobre {
    text-decoration: none;
    color: #dbdbdb;
}

.Contato:hover {
    color: white;
}

.Skills:hover {
    color: white;
}

.Projeto:hover {
    color: white;
}

.Sobre:hover {
    color: white;
}