.nav-bar-pai {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4vh;
    background-color: #0A0A1A;
    z-index: 1000;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.navContent {
    display: flex;
    justify-content: flex-end;
    gap: 4vh;
    width: 85vw;
}

.Contato,
.Skills,
.Projetos,
.Sobre {
    text-decoration: none;
    color: #dbdbdb;
}

.Contato:hover {
    color: white;
}

.Skills:hover {
    color: white;
}

.Projetos:hover {
    color: white;
}

.Sobre:hover {
    color: white;
}

.fa-house {
    color: white;
    font-size: 3vh;
    cursor: pointer;
}