.div-pai-Skills {
    width: 20%;
    height: 45vh;
    border-radius: 2vh;
    padding: 6vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 5vw;
}

.skill-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 7vh;
}

.softSkills {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 45vh;
    padding: 6vh;
    border-radius: 2vh;
}

.div-pai-Skills,
.softSkills {
    height: auto;
    min-height: 45vh;
    padding: 2.5rem;
    box-sizing: border-box;
}

.h1-skills {
    font-weight: 400;
}

.back-end,
.front-end,
.ferramentas,
.banco-de-dados,
.metodologia {
    font-weight: 400;
    font-size: 2.5rem;
}

.pai-de-todos-skills {
    margin-top: 50vh;
}

.div-centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    gap: 10vh;
    align-items: stretch;
}

.container-skill {
    display: flex;
    gap: 1vh;
    margin-top: 2vh;
    margin-bottom: 4vh;
    flex-wrap: wrap;
        max-width: 100%;

}

.card-skill-skill {
    background-color: #202431;
    padding: 1.5vh;
    border-radius: 12%;
    white-space: nowrap;
}

#skills {
    scroll-margin-top: 13vh;
}

.glass-card {
    width: 25vw;
    background: rgba(15, 19, 32, 0.65);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid rgba(32, 29, 29, 0.08);
    border-radius: 20px;

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.45),
        inset 0 0 0 1px rgba(255, 255, 255, 0.03);

    padding: 2.5rem;
}