.hero {
    display: flex;
    gap: 5vw;
    justify-content: center;
    margin-top: 13vh;
}

.minha-foto {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 15vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;

    border: 2px solid rgba(255, 255, 255, 0.12);
    box-shadow:
        0 0 40px rgba(59, 130, 246, 0.25),
        0 20px 60px rgba(0, 0, 0, 0.6);
}

.h1-nome {
    font-size: 5.3rem;
    font-weight: 500;
}

.div-descricao {
    margin-top: 10vh;
    margin-right: 8vh;
}

.p {
    color: rgb(207, 207, 207);
    flex: 1;
    font-size: 2.8rem;
    max-width: 32vw;
    font-weight: 300;
}

.descricao {
    margin-top: 4vh;
    font-size: 2.2rem;
}

.btn {
    margin-top: 5vh;
    height: 7.5vh;
    width: 14vw;
    border-radius: 1.5vh;
    font-size: 1.6rem;
    border: none;
}

.projetos {
    background-color: #4074c8;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projetos:hover {
    background-color: #2e6aca;
}

.contato-body {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.contato-body:hover {
    background-color: rgb(209, 209, 209);
}

.botao-pai {
    display: flex;
    gap: 3vh;
}

#home {
    scroll-margin-top: 13vh;
}