.div-pai-projetos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.card {
    background: #171A26;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 40vh;
    width: 15vw;
    height: auto;
    transition: 0.3s ease;
    text-align: left;
}

#projetos {
    scroll-margin-top: 13vh;
}

.card:nth-child(2) {
    transform: scale(1.08);
}

.card:nth-child(2):hover {
    transform: scale(1.12);
}

.card:not(:nth-child(2)):hover {
    transform: scale(1.05);
}

.div-pai-de-todos-projetos {
    margin-top: 45vh;

}

.div-h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;

}

.h1-projetos {
    font-size: 4rem;
    font-weight: 500;
}

.titulo-projeto {
    font-size: 2rem;
    background-color: #171A26;
    font-weight: 400;
    margin-top: 2vh;
}

.p-projeto {
    margin-top: 3vh;
    font-size: 1.5rem;
    background-color: #171A26;
    color: rgb(185, 185, 185);
}

.sessao-skill {
    display: flex;
    gap: 1vh;
    background-color: #171A26;
    margin-top: 3vh;
    flex-wrap: wrap;
}

.card-skill {
    background-color: #202431;
    padding: 1vh;
    border-radius: 12%;
}

.btn-projeto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 6vh;
    border: none;
    margin-top: 3vh;
    border-radius: 1vh;
    background-color: #2765ca;
    font-size: 1.5rem;
    cursor: pointer;
}